* {
  margin: 0;
  box-sizing: border-box;
}
/* external fonts from google font */
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* This is header section */

header {
  max-width: 100%;
  margin: 0 auto;

  background-color: rgba(26, 11, 46, 1);
}
.navbar-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
}
.navbar-left-section img {
  width: 219px;
  cursor: pointer;
}
.navbar-middle-section {
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 32px;
}
.navbar-menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}
.navbar-right-section {
}
/* I researched this type of background color and found that it requires a linear-gradient background, which has four components: the first is the direction, and the remaining three are different colors. The Figma assignment file already provided three colors, so I first matched the gradient direction and then applied those three colors accordingly.
I first tried using my own color, which was almost the same as the original, so I used it at first, but then I decided to change it.
Thank You Programming Hero Team
 */
.navbar-right-button {
  background: linear-gradient(22deg, #f7e93f, #fb09b4, #9100f8);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10000px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
}
/* I used a hover effect. First, I applied transform: translateX(-3px) scale(1.05). This means that when the button was hovered, it moved 3px to the left and became slightly bigger with a scale of 1.05.

I also used box-shadow and selected a shadow color that matched the button’s background gradient. I tried to match the color manually to keep the design consistent.

Additionally, I used transition: transform 0.3s ease to make the movement smooth, and box-shadow 0.3s ease to ensure the shadow appeared smoothly as well. That’s all. */

.navbar-right-button:hover {
  transform: translateX(-3px) scale(1.05);
  box-shadow: 0 10px 25px rgba(145, 0, 248, 0.525);
}
/* I used :active on the button so that when the button was clicked, it moved back from -3px to its normal position, and the scale was reduced slightly from scale 1.05 to about 1.03 to give a pressed effect. */

.navbar-right-button:active {
  transform: translateX(0) scale(1.02);
}

.navbar-right-button img {
  width: 20px;
}
/* 
This is main content area */
main {
  max-width: 1600px;
  margin: 0 auto;
}

/* This is tech-wave-section */
.tech-wave-section {
  max-width: 100%;
  height: 760px;
  background-image: url("assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech-wave-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech-wave-mike-container {
  width: 350px;
  height: 350px;
  background-image: url("assets/hero-circle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Here, I added a (New) tag using position: relative and position: absolute, concepts I learned in class, and it worked correctly in this case. */
.tech-wave-mike-new {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 1000px;
  background-color: rgba(0, 255, 136, 1);
  position: absolute;
  right: 23px;
  top: 12px;
  box-shadow: -0 3px 20px rgba(0, 255, 136, 0.589);
  cursor: pointer;
}
.tech-wave-header {
  font-size: 3.8rem;
  font-weight: bolder;
  color: white;
  margin-top: 40px;
  margin-bottom: 8px;
}
.tech-wave-description {
  color: #ffffff;
  margin-bottom: 24px;
}
.Spotify-subscribe-button-container {
  display: flex;
  gap: 13px;
}
.listen-on-spotify-button img,
.subscribe-button img {
  width: 20px;
}
.listen-on-spotify-button {
  background: linear-gradient(22deg, #f7e93f, #fb09b4, #9100f8);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10000px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
}
.listen-on-spotify-button:hover {
  transform: translateX(-3px) scale(1.05);
  box-shadow: 0 5px 25px rgba(145, 0, 248, 0.525);
}
.listen-on-spotify-button:active {
  transform: translateX(0) scale(0.9);
}
/* I used same button design that I used inside navbar */

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 12px 20px;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border-radius: 10000px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.subscribe-button:hover {
  background-color: #0392306a;
  transform: translateX(3px) scale(1.05);
  box-shadow: 0 5px 25px rgba(3, 165, 25, 0.525);
}
/* I used :active pseudo-class to get better animation when button are clicked */
.subscribe-button:active {
  background-color: #06c5429a;
}

/* About the Podcast */
.about-the-podcast-section {
  width: 100%;
  margin: 0 auto;
  padding: 50px 200px 120px 200px;
  background-color: rgba(26, 11, 46, 1);
}
.about-the-podcast-head-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-the-podcast-header {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  margin-bottom: 16px;
}
.about-the-podcast-description {
  text-align: center;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.782);
  font-size: 1rem;
  margin-bottom: 30px;
}
hr {
  border: none;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.126);
  margin-top: 30px;
  margin-bottom: 60px;
}
.about-the-podcast-rating-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.about-the-podcast-rating-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.about-the-podcast-rating-card h3 {
  font-size: 3rem;
  font-weight: bolder;
  color: #00ff88;
}
.about-the-podcast-rating-card p {
  color: rgba(255, 255, 255, 0.782);
}
