* {
  margin: 0;
  box-sizing: border-box;
}
/* external fonts from google font */
.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* This is header section */
.hidden {
  display: none;
}

header {
  max-width: 100%;
  margin: 0 auto;

  background-color: rgba(26, 11, 46, 1);
}
.navbar-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
}
.navbar-left-section img {
  width: 219px;
  cursor: pointer;
}
.navbar-middle-section {
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 32px;
}
.navbar-menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}
.navbar-right-section {
}
/* I researched this type of background color and found that it requires a linear-gradient background, which has four components: the first is the direction, and the remaining three are different colors. The Figma assignment file already provided three colors, so I first matched the gradient direction and then applied those three colors accordingly.
I first tried using my own color, which was almost the same as the original, so I used it at first, but then I decided to change it.
Thank You Programming Hero Team
 */
.navbar-right-button {
  background: linear-gradient(22deg, #f7e93f, #fb09b4, #9100f8);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10000px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
}
/* I used a hover effect. First, I applied transform: translateX(-3px) scale(1.05). This means that when the button was hovered, it moved 3px to the left and became slightly bigger with a scale of 1.05.

I also used box-shadow and selected a shadow color that matched the button’s background gradient. I tried to match the color manually to keep the design consistent.

Additionally, I used transition: transform 0.3s ease to make the movement smooth, and box-shadow 0.3s ease to ensure the shadow appeared smoothly as well. That’s all. */

.navbar-right-button:hover {
  transform: translateX(-3px) scale(1.05);
  box-shadow: 0 10px 25px rgba(145, 0, 248, 0.525);
}
/* I used :active on the button so that when the button was clicked, it moved back from -3px to its normal position, and the scale was reduced slightly from scale 1.05 to about 1.03 to give a pressed effect. */

.navbar-right-button:active {
  transform: translateX(0) scale(1.02);
}

.navbar-right-button img {
  width: 20px;
}
/* 
this will be hidden when screen size is big */
.hamburger-logo {
  display: none;
}

/* 
This is main content area */
main {
  max-width: 1600px;
  margin: 0 auto;
}

/* This is tech-wave-section */
.tech-wave-section {
  max-width: 100%;
  height: 760px;
  background-image: url("assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech-wave-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech-wave-mike-container {
  width: 350px;
  height: 350px;
  background-image: url("assets/hero-circle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Here, I added a (New) tag using position: relative and position: absolute, concepts I learned in class, and it worked correctly in this case. */
.tech-wave-mike-new {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 1000px;
  background-color: rgba(0, 255, 136, 1);
  position: absolute;
  right: 23px;
  top: 12px;
  box-shadow: -0 3px 20px rgba(0, 255, 136, 0.589);
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s,
    transform 0.3s,
    border 0.3s;
}
.tech-wave-mike-new:hover {
  color: #00ff88;
  background-color: rgba(0, 255, 136, 0.35);
  border: 1px solid rgba(0, 255, 136, 1);
}
.tech-wave-header {
  font-size: 3.8rem;
  font-weight: bolder;
  color: white;
  margin-top: 40px;
  margin-bottom: 8px;
}
.tech-wave-description {
  color: #ffffff;
  margin-bottom: 24px;
}
.Spotify-subscribe-button-container {
  display: flex;
  gap: 13px;
}
.listen-on-spotify-button img,
.subscribe-button img {
  width: 20px;
}
.listen-on-spotify-button {
  background: linear-gradient(22deg, #f7e93f, #fb09b4, #9100f8);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10000px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
}
.listen-on-spotify-button:hover {
  transform: translateX(-3px) scale(1.05);
  box-shadow: 0 5px 25px rgba(145, 0, 248, 0.525);
}
.listen-on-spotify-button:active {
  transform: translateX(0) scale(0.9);
}
/* I used same button design that I used inside navbar */

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 12px 20px;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border-radius: 10000px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.subscribe-button:hover {
  background-color: #0392306a;
  transform: translateX(3px) scale(1.05);
  box-shadow: 0 5px 25px rgba(3, 165, 25, 0.525);
}
/* I used :active pseudo-class to get better animation when button are clicked */
.subscribe-button:active {
  background-color: #06c5429a;
}

/* About the Podcast */
.about-the-podcast-section {
  width: 100%;
  margin: 0 auto;
  padding: 50px 200px 110px 200px;
  background-color: rgba(26, 11, 46, 1);
}
.about-the-podcast-head-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-the-podcast-header {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  margin-bottom: 16px;
}
.about-the-podcast-description {
  text-align: center;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.782);
  font-size: 1rem;
  margin-bottom: 30px;
}
hr {
  border: none;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.126);
  margin-top: 30px;
  margin-bottom: 60px;
}
.about-the-podcast-rating-container {
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.about-the-podcast-rating-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.about-the-podcast-rating-card h3 {
  font-size: 3rem;
  font-weight: bolder;
  color: #00ff88;
}
.about-the-podcast-rating-card p {
  color: rgba(255, 255, 255, 0.782);
}

/* why-choose-techWave-section */
.why-choose-techWave-section {
  max-width: 100%;
  margin: 0 auto;
  background-color: rgba(35, 14, 61, 1);
  padding: 120px 200px;
}
.why-choose-techWave-header {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.why-choose-techWave-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "headphone mobile-friendly mobile-friendly"
    "headphone global-community global-community"
    "exclusive-interviews exclusive-interviews rich-resources";
  gap: 30px;
}
.why-choose-techWave-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  cursor: pointer;
}
.headphone {
  grid-area: headphone;
}
.mobile-friendly {
  grid-area: mobile-friendly;
}
.global-community {
  grid-area: global-community;
}
.exclusive-interviews {
  grid-area: exclusive-interviews;
}
.rich-resources {
  grid-area: rich-resources;
}
.why-choose-techWave-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.why-choose-techWave-card h4 {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  margin: 18px 0;
}
.why-choose-techWave-card p {
  font-size: 1rem;
  color: rgb(192, 192, 192);
  font-weight: 300;
  line-height: 24px;
}

/* featured-episodes-meet-the-host-section */
.featured-episodes-meet-the-host-section {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(26, 11, 46, 1);
  padding: 120px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-episodes-card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 120px;
}
.featured-episodes-header,
.meet-the-host-header {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.featured-episodes-card {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(37, 13, 68, 1);
  border-radius: 30px;
  overflow: hidden;
  /* I used overflow: hidden so the iframe stays inside the card and gets the same rounded corners. Otherwise, the iframe corners would stay mot rounded. */
}

.featured-episodes-card-yt-container {
  width: 100%;
  height: 218px;
}
.featured-episodes-card-yt-container iframe {
  width: 100%;
  height: 100%;
}
.featured-episodes-card-details {
  margin: 24px;
}
.featured-episodes-card-details-header {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.featured-episodes-card-details-description {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(192, 192, 192);
  line-height: 24px;
}
.featured-episodes-card-time-container {
  display: flex;
  gap: 6px;
  margin-top: 12px;
}
.featured-episodes-card-time {
  font-size: 1rem;
  font-weight: bold;
  color: #00ff88;
}
.meet-the-host-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Alex-Kumar-card {
  padding: 40px;
  display: flex;
  flex-direction: row;
  background-color: rgba(37, 13, 68, 1);
  border-radius: 30px;
  gap: 24px;
}
.Alex-Kumar-card-profile-photo {
  width: 200px;
}
.Alex-Kumar-card-profile-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.alex-kumar {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.alex-kumar-details {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(192, 192, 192);
  line-height: 24px;
  margin-bottom: 16px;
}
.Alex-Kumar-social-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.Alex-Kumar-social-link-container div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
footer {
  margin: 0 auto;
  max-width: 1600px;
}
.footer-section {
  height: 350px;
  background-image: url("assets/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.techwave-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
/* .footer-logo {
  margin-bottom: 32px;
} */
.footer-logo-container {
  font-weight: 300;
  color: rgb(192, 192, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.footer-logo-container img {
  width: 24px;
}
.footer-socials-container {
  display: flex;
  gap: 35px;
  margin: 32px 0;
}
.footer-copyright {
  color: rgb(192, 192, 192);
  font-weight: 300;
}

/* media for responsive design  */
@media screen and (max-width: 576px) {
  /* this is header section */
  .navbar-container {
    width: 100%;
    flex-direction: row;
    padding: 20px;
  }
  .navbar-left-section img {
    width: 137px;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-right-button {
    display: none;
  }
  .hamburger-logo {
    display: flex;
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
  }
  /* this is main section */
  .tech-wave-section {
    width: 100%;
    height: 466px;
    background-size: cover;
    object-fit: contain;
  }
  .tech-wave-mike-container {
    width: 200px;
    height: 200px;
  }
  .tech-wave-mike-container img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
  .tech-wave-header {
    font-size: 2.7rem;
  }
  .tech-wave-description {
    color: rgba(255, 255, 255, 0.785);
    text-align: center;
    line-height: 26px;
  }
  .about-the-podcast-section {
    padding: 40px 20px;
  }
  .about-the-podcast-head-container {
    width: 100%;
  }
  .about-the-podcast-header {
    font-size: 2.1rem;
    color: white;
    margin-bottom: 16px;
  }
  .about-the-podcast-description {
    line-height: 26px;
    margin-bottom: 20px;
  }
  .about-the-podcast-description br {
    display: none;
  }
  .about-the-podcast-rating-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .about-the-podcast-rating-card h3 {
    font-size: 2.5rem;
    font-weight: 900;
    /* the font weight does not get same as the figma font weight as I already applied full weight */
  }
  /* this is (why-choose-techWave-section)*/
  .why-choose-techWave-section {
    padding: 40px 20px;
  }
  .why-choose-techWave-header {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .why-choose-techWave-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .why-choose-techWave-card {
    border-radius: 24px;
    padding: 24px;
    cursor: pointer;
  }
  .featured-episodes-meet-the-host-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
  .featured-episodes-header,
  .meet-the-host-header {
    font-size: 2rem;
  }
  .featured-episodes-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }
  .featured-episodes-card {
    width: 100%;
    border-radius: 24px;
  }
  .featured-episodes-card-yt-container {
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
  .featured-episodes-card-yt-container iframe {
    width: 100%;
    height: 100%;
  }
  .featured-episodes-card-details {
    margin: 16px;
  }
  .Alex-Kumar-card {
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    gap: 16px;
  }
  .Alex-Kumar-card-profile-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* footer */
  footer {
    width: 100%;
    height: 248px;
    overflow: hidden;
  }

  .footer-section {
    width: 100%;
    height: 248px;
    background-size: c;
    background-position: top center;
  }
  .techwave-footer-container {
    margin: 0;
  }
  .footer-logo {
    width: 219px;
  }
  .footer-socials-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 16px;
  }
}
